@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --header-bg-color: #fff;
    --main-text-color: #242A45;
    --btn-color: #5267DF;
}

/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Rubik';
    font-weight: 400;
    background-color: var(--header-bg-color);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    max-width: 1144px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.header{
    padding-top: 48px;
    padding-bottom: 48px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-end{
    display: flex;
}

.navbar-list{
    display: flex;
    align-items: center;
}

.navbar-item{
    margin-right: 48px;
}

.navbar-link{
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    color: #242A45;
}

.header-btn{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    padding: 12px 32px 11px 34px;
    background: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 3px solid #FA5959;
}

.header-btn:active{
    background: transparent;
    border: 3px solid #FA5959;
    color: #FA5959; 
}

/* Hero Section Styles Start */
.hero-section{
    background-image: url(../images/incons/hero-bg.png), url(../images/her-bg-bg.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 325px) calc(50% + 25px), calc(50% + 600px) calc(50% + 70px);
    padding-top: 137px;
    padding-bottom: 203px;
}
.hero-title{
    width: 500px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: #242A45;
    margin-bottom: 24px;
}

.hero-desc{
    width: 540px;
    font-size: 18px;
    line-height: 28px;    
    color: #242A45;
    opacity: 0.5;
    margin-bottom: 32px;
    
}

.hero-link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--header-bg-color);
    padding: 16px 24px;
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    margin-right: 16px;
}

.hero-link:active{
    color: var(--main-text-color);
    background: #F7F7F7;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}
/* Hero Section Styles End */

.features-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-title{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--main-text-color);
}
.features-desc{
    width: 540px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    opacity: 0.5;
    margin-top: 0;
    margin-bottom: 72px;
}

.features-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #495dcf33;
    width: 730px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.slide-title{
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.533333px;
    color: var(--main-text-color);
    opacity: 0.75;
}

.simple-link:focus{
    border-bottom: 3px solid #FA5959;
}
.speedy-link:focus{
    border-bottom: 3px solid #FA5959;
}
.easy-link:focus{
    border-bottom: 3px solid #FA5959;
}

#simple{
    display: none;
}

#simple:target{
    display: flex;    
}

#speedy{
    display: none;
}

#speedy:target{
    display: flex;    
}
#easy{
    display: none;
}

#easy:target{
    display: flex;    
}
.features-section{
    padding-bottom: 238px;
    background-image: url(../images/her-bg-bg.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% - 650px) calc(50% + 140px);
}

.simple{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.speedy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.easy{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simply-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: #242A45;
}

.simply-desc{
    width: 445px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    opacity: 0.5;
}

.simply-btn{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--header-bg-color);
    padding: 10px 24px;
    background: var(--btn-color);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border: 2px solid var(--btn-color);
    border-radius: 5px;
}

.simply-btn:hover{
    background: transparent;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);

}

